*/obj/*
*/bin/*
**/obj/**
**/bin/**
*/.idea/*
**/.vs/
**/packages/
*.suo
*.user
*.tested
!AC/Noesis/*.dll
StyleCop.Cache
.idea
/Folder.DotSettings.user
.runsettings
.vscode
.claude
/Docker/vault/output/**
/Docker/autotest_configs/appsettings.DockerKeycloakUsers.json
/Docker/.env.add
/artifacts
CLAUDE.local.md